.card {

    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    
    .singer-img{
        width: 15vh;
    }

    img {
        float: left;
        width: 8vh;
    }

    .duration {
        float: left;
        font-size: 0.5em;
        // border: 1px solid ;
        padding-left: 20px;
        margin-top: 20px;
        text-align: left;
        width: 10vh;
    }

    .song-name {
        float: left;
        font-size: 0.5em;
        // border: 1px solid ;
        margin-top: 20px;
        padding-left: 20px;
        text-align: left;
        width: 60vh;
    }

    .singer-name {
        // border: 1px solid ;
        float: left;
        font-size: 0.5em;
        margin-top: 20px;
        padding-left: 20px;
        text-align: left;
        width: 30vh;
    }

    .split-line {
        width: 100%;
        float: left;
    }
}

.liked-song-card :hover{
    background-color: white;
    color: black;
}

.liked-song-card {
   
    width: 100%;
    min-height: 3vh;
    font-size: 0.7em;


    .liked-duration {
        float: left;
        font-size: 0.5em;
        // border: 1px solid ;
        padding-left: 20px;
        text-align: left;
        width: 20%;
    }

    .liked-song-name {
        float: left;
        font-size: 0.5em;
        // border: 1px solid ;
        
        padding-left: 20px;
        text-align: left;
        width: 50%;
    }

    .liked-singer-name {
        // border: 1px solid ;
        float: left;
        font-size: 0.5em;
        
        padding-left: 20px;
        text-align: left;
        width: 30%;
    }

    .split-line {
        width: 90%;
        float: left;
        margin-left: 5%;
        border: 0; border-top: 0px solid whitesmoke;
        margin-bottom: 10px;
    }
}



.music-card-container {
    float: left;
    margin-top: 27px;
    margin-left: 1%;
    width: 75%;
    align-items: center;
    text-align: center;
    position: inherit;
    max-height: 65vh;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.liked-songs-card-container {
    float: left;
    margin-top: 10px;
    min-width: 20%;
    align-items: center;
    text-align: center;
    position: inherit;

    scrollbar-gutter: stable;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;

    .song-container {
        max-height: 85vh;
        overflow-y: auto;
    }

    .title {
        text-align: left;
        margin-left: 10px;
        
    }
}
