.top-bar {
    background-color: #282c34;
    padding: 15px;
    min-height: 5rem;
    margin-top: auto;
    margin-bottom: auto;
   

    .top-bar-box1 {
        display: inline;
        float: left;
        width: 15%;
        font-size: 0.75em;
    }

    .top-bar-box2 {
        min-width: 75%;
        display: inline;
        float: left;
        text-align: center;
        // border: 1px solid black;
    }

    .search-bar {
        width: 30rem;
        border: none;
        margin: 0;
        padding: 7px 8px;
        font-size: 18px;
        border: 1px solid transparent;
        border-radius: 15px;
        padding: 12px 20px 12px 50px;
        color: black;
        background-color: none;
        background-image: url('../../assets/icons/searchicon.png') ;
        background-size: 25px 25px;
        background-position: 10px 10px; 
        background-repeat: no-repeat;

    }
    .search-bar::placeholder {
        color: #bbb;
    }

}

.nav-link {
    margin-top: 55px;
    text-decoration: nonde;
    color: white;
}